<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div mat-list-item *ngFor="let index of plotList">
        <img mat-list-icon class="image" src="{{index.properties.image}}" alt="{{index.properties.name}}">
        <p mat-line class="title">{{index.properties.name}} created at {{index.properties.created_at}}</p>
        <button (click)="loadPolygon(index.id)">Load format</button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>frontend</span>
    </mat-toolbar>
    <app-mapbox (refresh)="onChange($event)" [filterData]="filterData"></app-mapbox>
  </mat-sidenav-content>
</mat-sidenav-container>
