.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image{
  width: 150px;
  height: 75px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.title{
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
}
